{#include layout}
    {#title}Probe Status{/}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/probes">Probes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Status</li>
        </ol>
    </nav>
    <h1>
        Status
    </h1>
    <table class="table table-borderless">
        <tr>
            <th>Url</th>
            <td>{status.probe.url}</td>
        </tr>
        <tr>
            <th>Timestamp</th>
            <td>{status.timestamp}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{status.status}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{status.duration}</td>
        </tr>

    </table>

{/include}